.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;

}

.logo{
  width: 80px;
  height: 80px;
}

/* .res-cusion {
  display: -webkit-box;
  -webkit-line-clamp: 2;   
  -webkit-box-orient: vertical;
  overflow: hidden;
} */

.res-cusion {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



.nav-items{
  margin-right: 50px;
}

.nav-items > ul{
  display: flex;
  list-style-type:none;
}

.nav-items > ul > li{
  margin: 10px;
  font-size: 24px;
}

.body{
  padding: 10px;
}

.res-container{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}


.res-card{

  border-radius: 5px;
  width: 200px;
  /* height: 250px; */
  background-color: #FFD580;
  transition:ease-in-out;

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;

}

.res-card > .res-details
{
  padding: 0px 5px;

}

.search{
  margin: 10px;
}

.res-details> h3,.res-details> h4{
  margin: 10px 0px;
  
} 

.res-card > .res-img{

  width: 100%;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;


}